*{
  padding: 0;
  margin: 0;
}
.a{
  color: black;
  text-decoration: none;
}
#a{
  gap: 14px;
}
.li{
  list-style-image: url(./img/tick.png);
}
.start{
  border-radius: 12px;
  background: linear-gradient(91.53deg, #1457D2 0%, #377DFF 100%);
  padding: 10px;
  text-align: center;
  color: white;
}
.explore{
  border: 1px solid black;
  border-radius: 11px;
  padding: 8px;
}
#div{
  background: linear-gradient(91.53deg, #1457D2 0%, #377DFF 100%);
  padding: 17px;
  border-radius: 9px;
  color: white;
  margin-top: 100px;
}
#div img{
  margin-top: -14px;
}
.ex{
  margin-top: 11px;
  padding-left: 19px;
}
.section{
  display: flex;
}
.section img{
  background-color: #1457D2;
  text-align: center;
  padding: 24px;
  border-radius: 48px;
  margin-bottom: 14px;
}
#footer{
  gap: 140px;
}
h2{
  color: rgba(55, 125, 255, 1);

}
.remember{
  list-style-image: url(./img/remember.png);
  padding-left: 25px;
}

#pass{
  width: 376px;
  margin-top: 130px;
}
#create{
  margin-top: 100px;
  width: 397px;
  margin-top: 135px;
}
.border{
  border-radius: 12px;
  padding: 7px;
  width: 353px;
}
#section11{
  padding-left: 0;
}
.login{
  background: linear-gradient(91.53deg, #1457D2 0%, #377DFF 100%);
  color: white;
  padding: 17px;
  border-radius: 12px;
  text-align: center;
}
#divr{
  background: linear-gradient(91.53deg, #1457D2 0%, #377DFF 100%);
  border-radius: 0px 283px 0px 0px;
  color: white;
}

.h1div{
  margin-top: 143px;
}
#country{ 
  width: 260px;
}
#state{
  width: 260px;
}
#signup{
  border-radius: 20px;
  background: #1457D2;
}
#gap{
  gap: 40px;
}



/* login page style */


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
button{
    margin-top: 22px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3d76df;

  width: 270px;
  border: 0;
  padding: 15px;
  padding-top: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 12px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: blue;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: blue;
  text-decoration: none;
}

/* .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: blue;
} */

.haotai{
  display: grid;
}
.haotai h1{
    font-size: 21px;
    margin-right: 130px;
    font-weight: 500;
}
.haotai p{
    font-size: 12px;
    margin-right: 100px;
}
.haotaii h1{
  font-size: 20px;
  margin-right: 100px;
}
